<h1>Recipe</h1>

<table class="record_properties">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ recipe.id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ recipe.title }}</td>
    </tr>
    <tr>
        <th>Instructions</th>
        <td>{{ recipe.instructions }}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{ recipe.date|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Portions</th>
        <td>{{ recipe.portions }}</td>
    </tr>
    </tbody>
</table>