{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Recipe edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('recipe') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

    <p>Składniki</p>
    {% for ingredient in ingredients %}
<li>{{ ingredient.name }} <a href="{{ path(('ingredient_edit'), {'id':ingredient.id}) }}">edytuj</a></li>
{% endfor %}
    <a href="{{ path('ingredient_new', {'id': entity.id}) }}">Dodaj składnik</a>
{% endblock %}
