{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Edycja przepisu</h3>

    {{ form(edit_form) }}

    {{ form(recipe_delete_form) }}

    <h3>Składniki:</h3>
    {% for ingredient in ingredients %}
<li>{{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.amountType }} <a class="btn" href="{{ path(('ingredient_edit'), {'id':ingredient.id}) }}">edytuj</a></li>
{% endfor %}
    <a class="btn" href="{{ path('ingredient_new', {'id': recipe.id}) }}">Dodaj składnik</a>
{% endblock %}
