<p class="date">{{ recipe.date|date('Y-m-d H:i:s') }}</p>
<h2><a class="title" href="{{ path('recipe_show', {'id':recipe.id}) }}">{{ recipe.title }}</a></h2>
<p>Ilość porcji: {{ recipe.portions }}</p>
<p>Składniki</p>
<ul>
    {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.amountType }}</li>
    {% else %}
        <p>brak skałdników</p>
    {% endfor %}
</ul>
<h3>Sposób przygotowania</h3>
<p>{{ recipe.instructions }}</p>