{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
    {{ include('AppBundle:Recipe:recipe_edition_menu.html.twig', { 'recipe': recipe}) }}
    {{ include('AppBundle:Recipe:recipe.html.twig') }}
    <div id="comments_title">Komentarze:</div>
    {{ include('AppBundle:Comment:show.html.twig', {'comments': recipe.comments}) }}

    {% if is_granted("ROLE_USER") %}
        <p><a href="{{ path('comment_new', {'recipeId': recipe.id}) }}">Dodaj komentarz</a></p>
        {% else %}
            <p class="info">Aby dodać komentarz musisz się zalogować.</p>
    {% endif %}

{% endblock %}
