<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Witaj w Cookway!{% endblock %}</title>
    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/style.css') }}">{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('ikona.png') }}" />
</head>
<body>

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="menu top_menu">
        <a href="/"><img class="logo" src="{{ asset('logo.png') }}"></a>
        <ul>
            <li><a href="{{ path('user_show_all') }}">Użytkownicy</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('recipe_show_all_followed_users', {'id': app.user.id}) }}">Obserwowane</a></li>
                <li><a href="{{ path('recipe_show_all_by_user', {'id': app.user.id}) }}">Moje przepisy</a></li>
                <li><a href="{{ path('recipe_new') }}">Dodaj przepis</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
            {% else %}
                <li><a href="{{ path('recipe_new') }}">Dodaj przepis</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Rejestracja</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Logowanie</a></li>
            {% endif %}

            <li id="logged">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            {% else %}
                Nie zalogowano
            {% endif %}
            </li>
        </ul>
    </div>



    <div class="menu left_menu">
        {{ render(controller("AppBundle:Category:getAll")) }}
    </div>

    <div class="container">
        {% block body %}
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        {% endblock %}
    </div>
    <div class="footer">
            <p><a href="{{ path('about') }}">© Magdalena Kuncicka</a></p>
            <p>mkuncicka@gmail.com</p>
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>
