{% extends '::base.html.twig' %}

{% block body %}
{{ parent() }}
    <div class="users_list">
    {% for us in users %}
        {% if "ROLE_SUPER_ADMIN" not in(us.getRoles) and us != app.user %}
        <p><a href="{{ path('recipe_show_all_by_user', {'id': us.id}) }}">{{ us.username }}</a>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('follow', {'user_to_follow_id':us.id}) }}">
                <img class="eye" src="{{ asset('eye.png') }}"></a>
            {% endif %}
        </p>
        {% endif %}
        {% else %}
        <p>Cookway nie ma jeszcze użytkowników :( Możesz być pierwszy! <a href="/{{ path('fos_user_registration_register') }}">Zarejestruj się!</a></p>
    {% endfor %}
    </div>
{% endblock %}